<lasso-page name="hello" package-path="./browser.json"/>
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>This is the title</title>
    <lasso-head/>
</head>
<body>
    <h1 id="header" class="hello">This is a playground sample</h1>
    <div class="signImg"></div>

    <lasso-img src="../images/sign.jpg"/>

    <lasso-body/>
    <browser-refresh enabled="true" />
</body>
</html>
